/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007bff !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
  * { box-sizing: border-box; }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  @media (max-width: 575px) {
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .grid-sizer,
    .grid-item {
      width: 50%;
    }
  }
  
  /* To change the amount of columns on larger devices, uncomment the code below */
  
  /* @media (min-width: 768px) and (max-width: 991px) {
    .grid-sizer,
    .grid-item {
      width: 33.333%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .grid-sizer,
    .grid-item {
      width: 25%;
    }
  }
  @media (min-width: 1200px) {
    .grid-sizer,
    .grid-item {
      width: 20%;
    }
  } */
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  input[type=text], input[type=email],
  input[type=number], select, textarea {
  
      width: 100%;
      padding: 5px;
  
  }
  
  textarea {
      resize: none;
  }
  
  .button {
      padding:5px 10px;
      color: white;
      background-color: #2B6CB0;
      border: none;
      border-radius: 5px;
  }
  
  .formulario_contacto {
      width: 500px;
      margin-top:50px;
  }   