{% extends 'supercasas/base.html' %}
{% block contenido %}
<br>
<div class="container">
  <h1 class="text-center"> Casas Premiun</h1>
  <br>
  <br>
{% for p in CasasD %}
<div class="card border-success mb-3" style="max-width: 1100px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ p.imagen.url }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{ p.nombre}}</h1>
        <p class="card-text">
          {{ p.descripcion}}
        </p>
        <div class="card-footer">
          <button type="button" class="btn btn-primary">Dimensiones {{ p.metro }} m2</button>
          <button type="button" class="btn btn-primary">Habitaciones {{ p.habitaciones }}</button>
          <button type="button" class="btn btn-primary">Baños {{ p.baños }}</button>
          <button type="button" class="btn btn-primary">Terraza {{  p.terraza|yesno:"si,no"  }}</button>
          <button type="button" class="btn btn-secondary">Precio ${{ p.valor }}</button>
          <a class="btn btn-success" href="{% url 'contacto' %}" role="button">Cotiza aqui</a>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor%}    

{% endblock%}
