{% extends 'supercasas/base.html' %}
{% block contenido %}
<br>
<div class="container">
  <h2 class="text-center">Casas por Metros</h2>
  <br>
  <h5> Para cotizar de forma automatica ingresa la cantidad de Metros(minimo 20m2)</h5>
  <h6> Estos Valores son de referencia, el precio varia en numeros de habitaciones,baños,ventanas y puertas</h6>
  <h6> Para una cotizacion completa comunicate de forma directa o con el formulario en el apartado de contactos</h6>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Metros Cuadrados</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    
  </form>

  {% endblock%}