{% extends 'supercasas/base.html' %}
{% block contenido %}

<div class="container">
<br>
    
<h1 class= "text-center" > Formulario de Contacto </h1>
<form action="" method="POST">

<div class="alert alert-primary" role="alert">
        {{mensaje}}
      </div>
{% csrf_token %}      
{{ form }}
<br>
<button type="submit" id="btnEnviar" class="btn btn-primary">Primary</button>
</form>


 </div>   
<br>
<br>
<div class="container">
  <h1 class="text-center"> Encuentanos aca</h1>
</div>
    

  <div class="row d-flex justify-content-center" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7749.017486418127!2d-70.63629521324182!3d-33.4388139824845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scl!4v1605547125452!5m2!1ses!2scl" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
{% endblock%}