{% extends 'supercasas/base.html' %}
{% block contenido %}
{% load static%}
<script src=" {{ STATIC_URL }} https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% load static%}
     <link rel="stylesheet" href=" {% static 'supercasas/css/gallery.css' %}">
<div class="container">
  
</div>     
<div class="container">
  <h1 class= "text-center" > Galeria </h1>
  <h2 class= "text-center"> Trabajos realizados y Diseños de nuestra propiedad</h2>
    <div class="masonry-wrapper"><div class="masonry">
        <div class="masonry-item">
          <img src="https://picsum.photos/450/325?image=100" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/450?image=200" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/280?image=300" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/540?image=400" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/380?image=500" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/300?image=600" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/400?image=700" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/300?image=800" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/280?image=900" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/480?image=925" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/550?image=950" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/600?image=1000" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/325?image=25" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/450?image=50" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/280?image=75" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/540?image=100" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/380?image=125" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/300?image=161" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/400?image=175" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/300?image=200" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/280?image=225" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/480?image=250" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/550?image=275" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/600?image=300" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/325?image=13" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/450?image=26" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/280?image=39" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/540?image=52" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/380?image=65" alt="Dummy Image" class="masonry-content">
        </div>
        <div class="masonry-item">
          <img src="https://picsum.photos/450/300?image=78" alt="Dummy Image" class="masonry-content">
        </div>
      </div>
</div>    
     
{% endblock%}