{% extends 'supercasas/base.html' %}
{% block contenido %}


  {% load static %}
  <br>
  <div class="container">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'supercasas\img\car1.jpg' %}" class="d-block w-100" style="height: 550px;" alt="...">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'supercasas\img\car2.jpg' %}" class="d-block w-100" style="height: 550px;" alt="...">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'supercasas\img\car3.jpg' %}" class="d-block w-100" style="height: 550px;" alt="...">
          <div class="carousel-caption d-none d-md-block">

          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<br>
<div class="container">

  <div class="card text-white bg-primary mb-3" style="max-width: 1100px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static 'supercasas\img\piñolhome.jpg '  %}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Casa Piñol</h1>
          <p class="card-text">
            Lleva esta hermosa casa prefrabicada por el increible precio de $2.090.000
            costa con 108m2 de pura madera de Alerce la cual es de excelente calidad. De color rojizo y hermosa veta, es
            muy liviana duradera e imputresible además no la atacan los insectos Se emplea en la fabricación de tejuelas
            para techos, ventanas, toneles y revestimientos.
          </p>
          <a class="btn btn-success" href="{% url 'contacto' %}" role="button">Cotiza aqui</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class=" card text-white bg-primary mb-3 " style="max-width: 1100px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static 'supercasas\img\4aguashome.jpg '  %}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Casa 4 Aguas</h1>
          <p class="card-text">Esta casa consta de 141m2 una increible superfice la cual fue elaborada en la mejor
            madera de pino, para lograr un resultado super acogedor tanto para habitarla , como casa de campo o en la
            playa con una hermosa vista, este cyber en oferta por la cantidad de $3.390.000</p>
            <a class="btn btn-success" href="{% url 'contacto' %}" role="button">Cotiza aqui</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="container">
    <div class="card text-white bg-primary mb-3" style="max-width: 1100px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'supercasas\img\coquimbohome.jpg '  %}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body ">
            <h1 class="card-title">Casa Coquimbo</h1>
            <p class="card-text">Esta casa prefrabicada con un estilo sumamente moderno cumplira tus necesidades mas sofisticadas con una excelente ilumunicacion natural donde 126m2 de la mejor madera de pino con muy finas terminaciones conllevan a un estiloso hogar al cual puedes acceder en este cyber por $3.600.000 solo por tiempo y unidades limitadas.
            </p>
            
            <a class="btn btn-success" href="{% url 'contacto' %}" role="button">Cotiza aqui</a>   
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="container">
    
  <a class="btn btn-success btn-lg btn-block" href="{% url 'contacto' %}" role="button">Contactanos</a>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'casaamedida' %}" role="button">Ver todos los modelos</a>

 </div> 
 <br>
 {% endblock %}