{% extends 'supercasas/base.html' %}
{% block contenido %}
{% load static %}

<br>
<div class="container">
  <div class="card border-primary bg-success text-white mb-3" style="max-width: auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
    <img src="{% static 'supercasas\img\arquitecto.png' %}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Nuestro equipo</h3>
          <p class="card-text">Con mas de 10 años en el rubro nos posicionamos como tu mejor opcion al momento de 
                               cotizar y comprar tu casa.
                               Contamos con un amplio equipo de especialistas, arquitectos, geografos, ingenieros y Constructores   
                               para asegurarnos de darte el mejor servicio de casas prefrabicadas, demostrando sus ventajas a una vivenda
                               comun y como para ti puede ser la perfecta solucion para tu necesidad habitacional, entregando buenos tratos y precios justos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card border-primary bg-primary text-white mb-3" style="max-width: auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
    <img src="{% static 'supercasas\img\metas.jpg' %}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Logra tus Metas</h3>
          <p class="card-text">Planifica y hazlo! </p>
          <p class="card-text">Tú tienes el control toma las riendas y construye tu casa nosotros, 
            las mejores casas y asesoria para ti en todo momento toma esta importante decision con un grupo de expertos que velaran por tu comidad , seguridad y covijo.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card border-success bg-dark text-white">
    <img src="{% static 'supercasas\img\nosotros.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="text-success" style="width: auto;">Construyamos tú Hogar juntos</h1>
    
    </div>
  </div>
</div>
<br>
{% endblock%}